<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../public/assets/style.css"/>
</head>
<body>
<% if (messages.error) { %>
    <%= messages.error %>
<% } %>
<form class="box" method="POST" action="/login">
    <h1>Login</h1>
    <input id="username"  name="username" type="username" placeholder="Username" required>
    <input id="password"  name="password" type="password" placeholder="Password" required>
    <input id="myButton2" name="Login"    type="submit"   value="Login"     href ="/login">
    <!--<input id="myButton"  name="Register" type="submit"   value="Register"  href="/register">-->
    <a     id="myButton2"  name="Register" type="submit"   value="Register"  href="/register">Register</a>
</form>

</body>
</html>
