<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" dir="ltr">
    <title>LoginForm</title>
    <link rel="stylesheet" href="../public/assets/style.css"/>
</head>
<body>

<form class="box" method="POST" action="/register">
    <h1>Register</h1>
    <input id="username"  name="username" type="username" placeholder="Username" required>
    <input id="password"  name="password" type="password" placeholder="Password" required>
    <input id="email"     name="email"    type="email"    placeholder="E-Mail"   required>
    <input id="myButton"  name="Register" type="submit"   value="Register" href="/register">
    <a id="myButton2" name="Login"    type="submit"   value="Login"    href="/login">Login</a>

</form>
</body>
</html>
