<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="shoppingList.js" defer></script>
    <meta charset="UTF-8">
    <title>ShoppingList</title>
    <link rel="stylesheet" href="../../../../public/assets/shoppingListStyle.css">
</head>
<body>
    <div  id="list">
        <input placeholder="Add Items" id="addBox" name="itemslist">
        <button id="buttonForAdd" onclick="addNewItem()"  >+</button>
        <input placeholder="Send Mail" id="emailBox" name="emailSender">
        <button id="buttonforEmail" onclick="sendEmail()"> Send Mail</button>
    </div>

</body>
</html>

