<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="shoppingList.js" defer></script>
    <meta charset="UTF-8">
    <title>ShoppingList</title>
    <link rel="stylesheet" href="../../../../public/assets/shoppingListStyle.css">
</head>
<body>
    <div  id="list">
        <input placeholder="Add Items" id="addBox" name="itemslist">
        <button id="buttonForAdd" onclick="addNewItem()"  >+</button>
    </div>
    <input placeholder="Enter E-mail" id="emailBox" name="emailSender">
    <button id="bottonforEmail" onclick="sendEmail()">
        Send E-mail
    </button>
</body>
</html>

