<!DOCTYPE html>
<html lang="en">
<body>
<head>
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

    <meta charset="UTF-8">
    <title>ArtistPage</title>
    <div class="background">
    <link rel="stylesheet" href="style2.css"/>
    <h1>Choose your song!</h1>
    </div>
    <div class="container">
    <header>W&aumlhle deinen Lieblingsk&uumlnstler</header>

        <div><img src="images/asas.jpg"    class="item-a"  onclick=function1()></div>
        <div><img src="images/ts.jpg" class="item-b"  onclick=function2()></div>
        <div><img src="images/d.jpg" class="item-c"  onclick=function3()></div>
        <div><img src="images/futura.jpg"   class="item-d"  onclick=function4()></div>
        <div><img src="images/ok.jfif"    class="item-e"  onclick=function5()></div>
        <div><img src="images/postmalone.jpg" class="item-f"  onclick=function6()></div>
        <div><img src="images/yt.jpg" class="item-g"  onclick=function7()></div>
        <div><img src="images/uzimuzi.jpg"   class="item-h"  onclick=function8()></div>
        <div><img src="images/jbb.jpg"    class="item-i"  onclick=function9()></div>

    <footer>Es ist eine weise Entscheidung</footer>
    </div>
    <script src="Weiterleitung.js">
    </script>
</body>
</html>